.information {
    position: sticky;
    top: 0;
}

.information img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 15px;
}

.img-name {
    display: flex;
    align-items: center;
}

.important-roles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    margin-top: 15px;
    border-radius: 8px;

}

.btn-section {
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
}

.btn-text {
    background-color: aqua;
    border-radius: 10px;
}

.btn-text:hover {
    color: white;
    background-color: blueviolet;
}

.btn-active {
    width: 100%;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
}

.btn-active:hover {
    color: orange;
    background-color: seagreen;
}