.topic {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.logo-section {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: 100px;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.course-section {
    background-color: antiquewhite;
}

.load-course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 30px;
}


.information-section {
    background-color: aqua;
    padding: 20px;
}

/*  Mobile Device */

@media only screen and (max-width:680px) {
    .topic {
        grid-template-columns: repeat(1, 1fr);
    }

    .load-course {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet And Large Phone */

@media only screen and (min-width:681px) and (max-width:992px) {

    .load-course {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop and PC*/
@media only screen and (min-width: 993px) and (max-width: 1800px) {
    .topic {
        grid-template-columns: 4fr 1fr;
    }

    .load-course {
        grid-template-columns: repeat(3, 1fr);
    }
}